# Take multiple csv and put them in SQL database called Final

## Version 1 (beginner)

In [ ]:
# import pandas as pd
# import sqlite3

# crimedata = pd.read_csv('ChiCrime.csv')
# censusdata = pd.read_csv('ChiCensus.csv')
# psdata = pd.read_csv('ChiPS.csv')
# conn = sqlite3.connect('Final.db')
# crimedata.to_sql('ChiCrime', conn)
# censusdata.to_sql('ChiCensus', conn)
# psdata.to_sql('ChiPS', conn)
# crime = pd.read_sql('select*from ChiCrime', conn)
# census = pd.read_sql('select*from ChiCensus', conn)
# ps = pd.read_sql('select*from ChiPS', conn)

# print(crime, census, ps)
# crime.head()
# census.head()
# ps.head()
# crime.describe(include = 'all')
# census.describe(include = 'all')
# ps.describe(include = 'all')

# Version 2 (pro)

In [5]:
import pandas as pd
import sqlite3
!pip install prettytable
import seaborn as sns
!pip install --upgrade prettytable ipython-sql
# These two lines are the magic cure if you keep getting key error 'DEFAULT' kiss of death
import prettytable 
prettytable.DEFAULT = 'DEFAULT'

chi_crime_df = pd.read_csv('ChicagoSQLMagicProject/ChiCrime.csv')
chi_census_df = pd.read_csv('ChicagoSQLMagicProject/ChiCensus.csv')
chi_ps_df = pd.read_csv('ChicagoSQLMagicProject/ChiPS.csv')

database_file = 'Final.db'

with sqlite3.connect(database_file) as conn:
    chi_crime_df.to_sql('ChiCrime', conn, if_exists='replace', index=False)
    chi_census_df.to_sql('ChiCensus', conn, if_exists='replace', index=False)
    chi_ps_df.to_sql('ChiPS', conn, if_exists='replace', index=False)

print(f"Database '{database_file}' created/updated with tables: ChiCrime, ChiCensus, ChiPS.")
print(chi_crime_df)
print(chi_census_df)
print(chi_ps_df)

Requirement already satisfied: prettytable in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (3.16.0)
Requirement already satisfied: wcwidth in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Requirement already satisfied: prettytable in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (3.16.0)
Requirement already satisfied: ipython-sql in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: wcwidth in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Requirement already satisfied: ipython in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\oliver20\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Database 'Final.db' created/updated with tables: ChiCrime, ChiCensus, ChiPS.
           ID CASE_NUMBER        DATE                     BLOCK  IUCR  \
0     3512276    HK587712  2004-08-28        047XX S KEDZIE AVE   890
1     3406613    HK456306  2004-06-26  009XX N CENTRAL PARK AVE   820
2     8002131    HT233595  2011-04-04        043XX S WABASH AVE   820
3     7903289    HT133522  2010-12-30      083XX S KINGSTON AVE   840
4    10402076    HZ138551  2016-02-02           033XX W 66TH ST   820
..        ...         ...         ...                       ...   ...
528  10453948    HZ192829  2016-03-01           028XX E 79TH ST  1055
529  10397129    HZ133234  2016-01-29       006XX W HARRISON ST  5114
530   3269495    HJ747227  2003-11-08           012XX W 81ST ST   510
531  10840565    JA143710  2017-02-06        009XX N KARLOV AVE  5073
532   1326195     G021609  2001-01-11       087XX S ESCANABA AV  9901

                         PRIMARY_TYPE  \
0                               THEFT
1                               THEFT
2                               THEFT
3                               THEFT
4                               THEFT
..                                ...
528                 HUMAN TRAFFICKING
529                    NON - CRIMINAL
530                         RITUALISM
531  NON-CRIMINAL (SUBJECT SPECIFIED)
532                 DOMESTIC VIOLENCE

                                     DESCRIPTION  \
0                                  FROM BUILDING
1                                 $500 AND UNDER
2                                 $500 AND UNDER
3                  FINANCIAL ID THEFT: OVER $300
4                                 $500 AND UNDER
..                                           ...
528                        INVOLUNTARY SERVITUDE
529                            FOID - REVOCATION
530  AGG RIT MUT: HANDS/FIST/FEET SERIOUS INJURY
531       NOTIFICATION OF CIVIL NO CONTACT ORDER
532                            DOMESTIC VIOLENCE

             LOCATION_DESCRIPTION  ARREST  DOMESTIC  ...  DISTRICT  WARD  \
0              SMALL RETAIL STORE   False     False  ...         9  14.0
1                           OTHER   False     False  ...        11  27.0
2    NURSING HOME/RETIREMENT HOME   False     False  ...         2   3.0
3                       RESIDENCE   False     False  ...         4   7.0
4                           ALLEY   False     False  ...         8  15.0
..                            ...     ...       ...  ...       ...   ...
528                     APARTMENT   False     False  ...         4   7.0
529                        STREET   False     False  ...         1   2.0
530                         OTHER   False     False  ...         6  21.0
531                     RESIDENCE   False      True  ...        11  37.0
532                     APARTMENT    True      True  ...         4   NaN

     COMMUNITY_AREA_NUMBER  FBICODE X_COORDINATE  Y_COORDINATE  YEAR  \
0                     58.0        6    1155838.0     1873050.0  2004
1                     23.0        6    1152206.0     1906127.0  2004
2                     38.0        6    1177436.0     1876313.0  2011
3                     46.0        6    1194622.0     1850125.0  2010
4                     66.0        6    1155240.0     1860661.0  2016
..                     ...      ...          ...           ...   ...
528                   46.0       26    1196679.0     1853139.0  2016
529                   28.0       26    1172257.0     1897564.0  2016
530                   71.0      04B    1169648.0     1851076.0  2003
531                   23.0       26    1148881.0     1905963.0  2017
532                    NaN      08B    1196869.0     1847416.0  2001

      LATITUDE  LONGITUDE                       LOCATION
0    41.807440 -87.703956    (41.8074405, -87.703955849)
1    41.898280 -87.716406  (41.898279962, -87.716405505)
2    41.815933 -87.624642  (41.815933131, -87.624642127)
3    41.743665 -87.562463  (41.743665322, -87.562462756)
4    41.773455 -87.706480  (41.773455295, -87.706480471)
..         ...        ...                            ...
528  41.751885 -87.554826  (41.751885152, -87.554825997)
529  41.874363 -87.643013  (41.874363279, -87.643013039)
530  41.746852 -87.653941  (41.746852486, -87.653941385)
531  41.897895 -87.728622   (41.89789489, -87.728622316)
532  41.736176 -87.554320   (41.73617608, -87.554319607)

[533 rows x 21 columns]
    COMMUNITY_AREA_NUMBER COMMUNITY_AREA_NAME  PERCENT_OF_HOUSING_CROWDED  \
0                     1.0         Rogers Park                         7.7
1                     2.0          West Ridge                         7.8
2                     3.0              Uptown                         3.8
3                     4.0      Lincoln Square                         3.4
4                     5.0        North Center                         0.3
..                    ...                 ...                         ...
73                   74.0     Mount Greenwood                         1.0
74                   75.0         Morgan Park                         0.8
75                   76.0              O'Hare                         3.6
76                   77.0           Edgewater                         4.1
77                    NaN             CHICAGO                         4.7

    PERCENT_HOUSEHOLDS_BELOW_POVERTY  PERCENT_AGED_16__UNEMPLOYED  \
0                               23.6                          8.7
1                               17.2                          8.8
2                               24.0                          8.9
3                               10.9                          8.2
4                                7.5                          5.2
..                               ...                          ...
73                               3.4                          8.7
74                              13.2                         15.0
75                              15.4                          7.1
76                              18.2                          9.2
77                              19.7                         12.9

    PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA  \
0                                           18.2
1                                           20.8
2                                           11.8
3                                           13.4
4                                            4.5
..                                           ...
73                                           4.3
74                                          10.8
75                                          10.9
76                                           9.7
77                                          19.5

    PERCENT_AGED_UNDER_18_OR_OVER_64  PER_CAPITA_INCOME  HARDSHIP_INDEX
0                               27.5              23939            39.0
1                               38.5              23040            46.0
2                               22.2              35787            20.0
3                               25.5              37524            17.0
4                               26.2              57123             6.0
..                               ...                ...             ...
73                              36.8              34381            16.0
74                              40.3              27149            30.0
75                              30.3              25828            24.0
76                              23.8              33385            19.0
77                              33.5              28202             NaN

[78 rows x 9 columns]
     School_ID                                     NAME_OF_SCHOOL  \
0       610038                  Abraham Lincoln Elementary School
1       610281  Adam Clayton Powell Paideia Community Academy ...
2       610185                Adlai E Stevenson Elementary School
3       609993                    Agustin Lara Elementary Academy
4       610513                      Air Force Academy High School
..         ...                                                ...
561     610172                William T Sherman Elementary School
562     609844                 William W Carter Elementary School
563     610088                Wolfgang A Mozart Elementary School
564     609977               Woodlawn Community Elementary School
565     610392                 World Language Academy High School

    Elementary, Middle, or High School         Street_Address     City State  \
0                                   ES        615 W Kemper Pl  Chicago    IL
1                                   ES  7511 S South Shore Dr  Chicago    IL
2                                   ES     8010 S Kostner Ave  Chicago    IL
3                                   ES     4619 S Wolcott Ave  Chicago    IL
4                                   HS        3630 S Wells St  Chicago    IL
..                                 ...                    ...      ...   ...
561                                 ES         1000 W 52nd St  Chicago    IL
562                                 ES    5740 S Michigan Ave  Chicago    IL
563                                 ES      2200 N Hamlin Ave  Chicago    IL
564                                 ES     6657 S Kimbark Ave  Chicago    IL
565                                 HS     3120 S Kostner Ave  Chicago    IL

     ZIP_Code    Phone_Number  \
0       60614  (773) 534-5720
1       60649  (773) 535-6650
2       60652  (773) 535-2280
3       60609  (773) 535-4389
4       60609  (773) 535-1590
..        ...             ...
561     60609  (773) 535-1757
562     60637  (773) 535-0860
563     60647  (773) 534-4160
564     60637  (773) 535-0801
565     60623  (773) 535-4334

                                                  Link  \
0    http://schoolreports.cps.edu/SchoolProgressRep...
1    http://schoolreports.cps.edu/SchoolProgressRep...
2    http://schoolreports.cps.edu/SchoolProgressRep...
3    http://schoolreports.cps.edu/SchoolProgressRep...
4    http://schoolreports.cps.edu/SchoolProgressRep...
..                                                 ...
561  http://schoolreports.cps.edu/SchoolProgressRep...
562  http://schoolreports.cps.edu/SchoolProgressRep...
563  http://schoolreports.cps.edu/SchoolProgressRep...
564  http://schoolreports.cps.edu/SchoolProgressRep...
565  http://schoolreports.cps.edu/SchoolProgressRep...

                        Network_Manager  ... Freshman_on_Track_Rate__  \
0          Fullerton Elementary Network  ...                      NDA
1             Skyway Elementary Network  ...                      NDA
2             Midway Elementary Network  ...                      NDA
3           Pershing Elementary Network  ...                      NDA
4    Southwest Side High School Network  ...                     91.8
..                                  ...  ...                      ...
561                        AUSL Schools  ...                      NDA
562     Burnham Park Elementary Network  ...                      NDA
563        Fullerton Elementary Network  ...                      NDA
564     Burnham Park Elementary Network  ...                      NDA
565       West Side High School Network  ...                       76

    X_COORDINATE Y_COORDINATE   Latitude  Longitude COMMUNITY_AREA_NUMBER  \
0    1171699.458  1915829.428  41.924497 -87.644522                     7
1    1196129.985  1856209.466  41.760324 -87.556736                    43
2    1148427.165  1851012.215  41.747111 -87.731702                    70
3    1164504.290  1873959.199  41.809757 -87.672145                    61
4    1175177.622  1880745.126  41.828146 -87.632794                    34
..           ...          ...        ...        ...                   ...
561  1170500.817  1870373.159  41.799788 -87.650255                    61
562  1178101.365  1866810.123  41.789841 -87.622490                    40
563  1150644.396  1914368.955  41.920927 -87.721925                    22
564  1185825.188  1860883.579  41.773400 -87.594356                    42
565  1147521.302  1883405.128  41.836020 -87.734195                    30

    COMMUNITY_AREA_NAME  Ward Police_District                     Location
0          LINCOLN PARK    43              18  (41.92449696, -87.64452163)
1           SOUTH SHORE     7               4  (41.76032435, -87.55673627)
2               ASHBURN    13               8  (41.74711093, -87.73170248)
3              NEW CITY    20               9    (41.8097569, -87.6721446)
4         ARMOUR SQUARE    11               9  (41.82814609, -87.63279369)
..                  ...   ...             ...                          ...
561            NEW CITY    16               9  (41.79978772, -87.65025483)
562     WASHINGTON PARK    20               2  (41.78984129, -87.62248974)
563        LOGAN SQUARE    35              25  (41.92092734, -87.72192541)
564            WOODLAWN     5               3  (41.77339962, -87.59435584)
565      SOUTH LAWNDALE    22              10  (41.83601953, -87.73419465)

[566 rows x 78 columns]

# Get ready to use SQL Magic Queries

In [6]:
%load_ext sql
%sql sqlite:///Final.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
#Test the magic

%sql select*from ChiCensus;

 * sqlite:///Final.db
Done.

[(1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0),
 (2.0, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46.0),
 (3.0, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20.0),
 (4.0, 'Lincoln Square', 3.4, 10.9, 8.2, 13.4, 25.5, 37524, 17.0),
 (5.0, 'North Center', 0.3, 7.5, 5.2, 4.5, 26.2, 57123, 6.0),
 (6.0, 'Lake View', 1.1, 11.4, 4.7, 2.6, 17.0, 60058, 5.0),
 (7.0, 'Lincoln Park', 0.8, 12.3, 5.1, 3.6, 21.5, 71551, 2.0),
 (8.0, 'Near North Side', 1.9, 12.9, 7.0, 2.5, 22.6, 88669, 1.0),
 (9.0, 'Edison Park', 1.1, 3.3, 6.5, 7.4, 35.3, 40959, 8.0),
 (10.0, 'Norwood Park', 2.0, 5.4, 9.0, 11.5, 39.5, 32875, 21.0),
 (11.0, 'Jefferson Park', 2.7, 8.6, 12.4, 13.4, 35.5, 27751, 25.0),
 (12.0, 'Forest Glen', 1.1, 7.5, 6.8, 4.9, 40.5, 44164, 11.0),
 (13.0, 'North Park', 3.9, 13.2, 9.9, 14.4, 39.0, 26576, 33.0),
 (14.0, 'Albany Park', 11.3, 19.2, 10.0, 32.9, 32.0, 21323, 53.0),
 (15.0, 'Portage Park', 4.1, 11.6, 12.6, 19.3, 34.0, 24336, 35.0),
 (16.0, 'Irving Park', 6.3, 13.1, 10.0, 22.4, 31.6, 27249, 34.0),
 (17.0, 'Dunning', 5.2, 10.6, 10.0, 16.2, 33.6, 26282, 28.0),
 (18.0, 'Montclaire', 8.1, 15.3, 13.8, 23.5, 38.6, 22014, 50.0),
 (19.0, 'Belmont Cragin', 10.8, 18.7, 14.6, 37.3, 37.3, 15461, 70.0),
 (20.0, 'Hermosa', 6.9, 20.5, 13.1, 41.6, 36.4, 15089, 71.0),
 (21.0, 'Avondale', 6.0, 15.3, 9.2, 24.7, 31.0, 20039, 42.0),
 (22.0, 'Logan Square', 3.2, 16.8, 8.2, 14.8, 26.2, 31908, 23.0),
 (23.0, 'Humboldt park', 14.8, 33.9, 17.3, 35.4, 38.0, 13781, 85.0),
 (24.0, 'West Town', 2.3, 14.7, 6.6, 12.9, 21.7, 43198, 10.0),
 (25.0, 'Austin', 6.3, 28.6, 22.6, 24.4, 37.9, 15957, 73.0),
 (26.0, 'West Garfield Park', 9.4, 41.7, 25.8, 24.5, 43.6, 10934, 92.0),
 (27.0, 'East Garfield Park', 8.2, 42.4, 19.6, 21.3, 43.2, 12961, 83.0),
 (28.0, 'Near West Side', 3.8, 20.6, 10.7, 9.6, 22.2, 44689, 15.0),
 (29.0, 'North Lawndale', 7.4, 43.1, 21.2, 27.6, 42.7, 12034, 87.0),
 (30.0, 'South Lawndale', 15.2, 30.7, 15.8, 54.8, 33.8, 10402, 96.0),
 (31.0, 'Lower West Side', 9.6, 25.8, 15.8, 40.7, 32.6, 16444, 76.0),
 (32.0, 'Loop', 1.5, 14.7, 5.7, 3.1, 13.5, 65526, 3.0),
 (33.0, 'Near South Side', 1.3, 13.8, 4.9, 7.4, 21.8, 59077, 7.0),
 (34.0, 'Armour Square', 5.7, 40.1, 16.7, 34.5, 38.3, 16148, 82.0),
 (35.0, 'Douglas', 1.8, 29.6, 18.2, 14.3, 30.7, 23791, 47.0),
 (36.0, 'Oakland', 1.3, 39.7, 28.7, 18.4, 40.4, 19252, 78.0),
 (37.0, 'Fuller Park', 3.2, 51.2, 33.9, 26.6, 44.9, 10432, 97.0),
 (38.0, 'Grand Boulevard', 3.3, 29.3, 24.3, 15.9, 39.5, 23472, 57.0),
 (39.0, 'Kenwood', 2.4, 21.7, 15.7, 11.3, 35.4, 35911, 26.0),
 (40.0, 'Washington Park', 5.6, 42.1, 28.6, 25.4, 42.8, 13785, 88.0),
 (41.0, 'Hyde Park', 1.5, 18.4, 8.4, 4.3, 26.2, 39056, 14.0),
 (42.0, 'Woodlawn', 2.9, 30.7, 23.4, 16.5, 36.1, 18672, 58.0),
 (43.0, 'South Shore', 2.8, 31.1, 20.0, 14.0, 35.7, 19398, 55.0),
 (44.0, 'Chatham', 3.3, 27.8, 24.0, 14.5, 40.3, 18881, 60.0),
 (45.0, 'Avalon Park', 1.4, 17.2, 21.1, 10.6, 39.3, 24454, 41.0),
 (46.0, 'South Chicago', 4.7, 29.8, 19.7, 26.6, 41.1, 16579, 75.0),
 (47.0, 'Burnside', 6.8, 33.0, 18.6, 19.3, 42.7, 12515, 79.0),
 (48.0, 'Calumet Heights', 2.1, 11.5, 20.0, 11.0, 44.0, 28887, 38.0),
 (49.0, 'Roseland', 2.5, 19.8, 20.3, 16.9, 41.2, 17949, 52.0),
 (50.0, 'Pullman', 1.5, 21.6, 22.8, 13.1, 38.6, 20588, 51.0),
 (51.0, 'South Deering', 4.0, 29.2, 16.3, 21.0, 39.5, 14685, 65.0),
 (52.0, 'East Side', 6.8, 19.2, 12.1, 31.9, 42.8, 17104, 64.0),
 (53.0, 'West Pullman', 3.3, 25.9, 19.4, 20.5, 42.1, 16563, 62.0),
 (54.0, 'Riverdale', 5.8, 56.5, 34.6, 27.5, 51.5, 8201, 98.0),
 (55.0, 'Hegewisch', 3.3, 17.1, 9.6, 19.2, 42.9, 22677, 44.0),
 (56.0, 'Garfield Ridge', 2.6, 8.8, 11.3, 19.3, 38.1, 26353, 32.0),
 (57.0, 'Archer Heights', 8.5, 14.1, 16.5, 35.9, 39.2, 16134, 67.0),
 (58.0, 'Brighton Park', 14.4, 23.6, 13.9, 45.1, 39.3, 13089, 84.0),
 (59.0, 'McKinley Park', 7.2, 18.7, 13.4, 32.9, 35.6, 16954, 61.0),
 (60.0, 'Bridgeport', 4.5, 18.9, 13.7, 22.2, 31.3, 22694, 43.0),
 (61.0, 'New City', 11.9, 29.0, 23.0, 41.5, 38.9, 12765, 91.0),
 (62.0, 'West Elsdon', 11.1, 15.6, 16.7, 37.0, 37.7, 15754, 69.0),
 (63.0, 'Gage Park', 15.8, 23.4, 18.2, 51.5, 38.8, 12171, 93.0),
 (64.0, 'Clearing', 2.7, 8.9, 9.5, 18.8, 37.6, 25113, 29.0),
 (65.0, 'West Lawn', 5.8, 14.9, 9.6, 33.6, 39.6, 16907, 56.0),
 (66.0, 'Chicago Lawn', 7.6, 27.9, 17.1, 31.2, 40.6, 13231, 80.0),
 (67.0, 'West Englewood', 4.8, 34.4, 35.9, 26.3, 40.7, 11317, 89.0),
 (68.0, 'Englewood', 3.8, 46.6, 28.0, 28.5, 42.5, 11888, 94.0),
 (69.0, 'Greater Grand Crossing', 3.6, 29.6, 23.0, 16.5, 41.0, 17285, 66.0),
 (70.0, 'Ashburn', 4.0, 10.4, 11.7, 17.7, 36.9, 23482, 37.0),
 (71.0, 'Auburn Gresham', 4.0, 27.6, 28.3, 18.5, 41.9, 15528, 74.0),
 (72.0, 'Beverly', 0.9, 5.1, 8.0, 3.7, 40.5, 39523, 12.0),
 (73.0, 'Washington Height', 1.1, 16.9, 20.8, 13.7, 42.6, 19713, 48.0),
 (74.0, 'Mount Greenwood', 1.0, 3.4, 8.7, 4.3, 36.8, 34381, 16.0),
 (75.0, 'Morgan Park', 0.8, 13.2, 15.0, 10.8, 40.3, 27149, 30.0),
 (76.0, "O'Hare", 3.6, 15.4, 7.1, 10.9, 30.3, 25828, 24.0),
 (77.0, 'Edgewater', 4.1, 18.2, 9.2, 9.7, 23.8, 33385, 19.0),
 (None, 'CHICAGO', 4.7, 19.7, 12.9, 19.5, 33.5, 28202, None)]

# And now you can query!

### Total number of crimes in CRIME table

In [9]:
# Inspecting the csv, each crime is its own line, so we need:

%sql select count(*) from ChiCrime;

 * sqlite:///Final.db
Done.

[(533,)]

### Community area names and numbers with per capita income less than 11000

In [11]:
%sql select community_area_number, community_area_name from ChiCensus where per_capita_income < 11000;

 * sqlite:///Final.db
Done.

[(26.0, 'West Garfield Park'),
 (30.0, 'South Lawndale'),
 (37.0, 'Fuller Park'),
 (54.0, 'Riverdale')]

### Case numbers for all non-child minor

%sql pragma table_info(ChiCrime)

In [28]:
%sql select case_number, description from ChiCrime where description like '%MINOR%';

 * sqlite:///Final.db
Done.

[('HL266884', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'ILLEGAL CONSUMPTION BY MINOR')]

### Crimes taking place at a school

In [22]:
%sql select location_description, count(*) from chicrime where location_description = 'SCHOOL, PUBLIC, BUILDING';

 * sqlite:///Final.db
Done.

[('SCHOOL, PUBLIC, BUILDING', 5)]

### Kidnappings involving a child

In [25]:
%sql select distinct description from ChiCrime;

 * sqlite:///Final.db
Done.

[('FROM BUILDING',),
 ('$500 AND UNDER',),
 ('FINANCIAL ID THEFT: OVER $300',),
 ('OVER $500',),
 ('RETAIL THEFT',),
 ('AGG: FINANCIAL ID THEFT',),
 ('PURSE-SNATCHING',),
 ('POCKET-PICKING',),
 ('ATTEMPT THEFT',),
 ('SIMPLE',),
 ('DOMESTIC BATTERY SIMPLE',),
 ('AGG PO HANDS NO/MIN INJURY',),
 ('PRO EMP HANDS NO/MIN INJURY',),
 ('AGGRAVATED:KNIFE/CUTTING INSTR',),
 ('AGGRAVATED: OTHER DANG WEAPON',),
 ('AGGRAVATED: HANDGUN',),
 ('AGGRAVATED DOMESTIC BATTERY',),
 ('AGGRAVATED DOMESTIC BATTERY: OTHER DANG WEAPON',),
 ('TO VEHICLE',),
 ('TO CITY OF CHICAGO PROPERTY',),
 ('TO PROPERTY',),
 ('CRIMINAL DEFACEMENT',),
 ('POSS: CANNABIS 30GMS OR LESS',),
 ('POSS: HEROIN(WHITE)',),
 ('MANU/DEL:CANNABIS 10GM OR LESS',),
 ('MANU/DELIVER: HEROIN (WHITE)',),
 ('POSS: CRACK',),
 ('FOUND SUSPECT NARCOTICS',),
 ('MANU/DELIVER: METHAMPHETAMINES',),
 ('POSS: COCAINE',),
 ('ATTEMPT POSSESSION NARCOTICS',),
 ('SOLICIT NARCOTICS ON PUBLICWAY',),
 ('MANU/DELIVER:CRACK',),
 ('TELEPHONE THREAT',),
 ('OBSCENE TELEPHONE CALLS',),
 ('VIOLATE ORDER OF PROTECTION',),
 ('HARASSMENT BY TELEPHONE',),
 ('PROBATION VIOLATION',),
 ('HARASSMENT BY ELECTRONIC MEANS',),
 ('PAROLE VIOLATION',),
 ('FALSE/STOLEN/ALTERED TRP',),
 ('OTHER VEHICLE OFFENSE',),
 ('OTHER CRIME AGAINST PERSON',),
 ('SEX OFFENDER: FAIL REG NEW ADD',),
 ('AGGRAVATED PO: OTHER DANG WEAP',),
 ('UNLAWFUL ENTRY',),
 ('FORCIBLE ENTRY',),
 ('AUTOMOBILE',),
 ('THEFT/RECOVERY: AUTOMOBILE',),
 ('ATT: AUTOMOBILE',),
 ('TRUCK, BUS, MOTOR HOME',),
 ('CREDIT CARD FRAUD',),
 ('THEFT OF LABOR/SERVICES',),
 ('FORGERY',),
 ('THEFT OF LOST/MISLAID PROP',),
 ('FRAUD OR CONFIDENCE GAME',),
 ('THEFT BY LESSEE,MOTOR VEH',),
 ('BOGUS CHECK',),
 ('FINANCIAL IDENTITY THEFT OVER $ 300',),
 ('ILLEGAL USE CASH CARD',),
 ('ARMED: HANDGUN',),
 ('STRONGARM - NO WEAPON',),
 ('VEHICULAR HIJACKING',),
 ('ARMED:KNIFE/CUTTING INSTRUMENT',),
 ('AGGRAVATED',),
 ('AGGRAVATED VEHICULAR HIJACKING',),
 ('TO STATE SUP LAND',),
 ('TO RESIDENCE',),
 ('TO LAND',),
 ('CALL OPERATION',),
 ('SOLICIT ON PUBLIC WAY',),
 ('SOLICIT FOR BUSINESS',),
 ('UNLAWFUL POSS OF HANDGUN',),
 ('UNLAWFUL POSS OTHER FIREARM',),
 ('RECKLESS CONDUCT',),
 ('BOMB THREAT',),
 ('AGG SEX ASSLT OF CHILD FAM MBR',),
 ('SEX ASSLT OF CHILD BY FAM MBR',),
 ('CRIM SEX ABUSE BY FAM MEMBER',),
 ('AGG CRIM SEX ABUSE FAM MEMBER',),
 ('ATTEMPT NON-AGGRAVATED',),
 ('NON-AGGRAVATED',),
 ('AGG CRIMINAL SEXUAL ABUSE',),
 ('OTHER',),
 ('RESIST/OBSTRUCT/DISARM OFFICER',),
 ('ESCAPE',),
 ('GAME/DICE',),
 ('SELL/GIVE/DEL LIQUOR TO MINOR',),
 ('ILLEGAL CONSUMPTION BY MINOR',),
 ('BY FIRE',),
 ('FIRST DEGREE MURDER',),
 ('CHILD ABDUCTION/STRANGER',),
 ('INTIMIDATION',),
 ('CYBERSTALKING',),
 ('OBSCENE MATTER',),
 ('LICENSED PREMISE',),
 ('LOST PASSPORT',),
 ('INTOXICATING COMPOUNDS',),
 ('INVOLUNTARY SERVITUDE',),
 ('FOID - REVOCATION',),
 ('AGG RIT MUT: HANDS/FIST/FEET SERIOUS INJURY',),
 ('NOTIFICATION OF CIVIL NO CONTACT ORDER',),
 ('DOMESTIC VIOLENCE',)]

In [31]:
%sql select case_number, description from ChiCrime where description like '%ABDUCT%';

 * sqlite:///Final.db
Done.
 * sqlite:///Final.db
Done.

[('HN144152', 'CHILD ABDUCTION/STRANGER')]

### Crime types reported at schools

In [32]:
%sql select case_number, description from ChiCrime where description like '%SCHOOL%';

 * sqlite:///Final.db
Done.

[]

In [33]:
%sql pragma table_info(ChiCrime);

 * sqlite:///Final.db
Done.

[(0, 'ID', 'INTEGER', 0, None, 0),
 (1, 'CASE_NUMBER', 'TEXT', 0, None, 0),
 (2, 'DATE', 'TEXT', 0, None, 0),
 (3, 'BLOCK', 'TEXT', 0, None, 0),
 (4, 'IUCR', 'TEXT', 0, None, 0),
 (5, 'PRIMARY_TYPE', 'TEXT', 0, None, 0),
 (6, 'DESCRIPTION', 'TEXT', 0, None, 0),
 (7, 'LOCATION_DESCRIPTION', 'TEXT', 0, None, 0),
 (8, 'ARREST', 'INTEGER', 0, None, 0),
 (9, 'DOMESTIC', 'INTEGER', 0, None, 0),
 (10, 'BEAT', 'INTEGER', 0, None, 0),
 (11, 'DISTRICT', 'INTEGER', 0, None, 0),
 (12, 'WARD', 'REAL', 0, None, 0),
 (13, 'COMMUNITY_AREA_NUMBER', 'REAL', 0, None, 0),
 (14, 'FBICODE', 'TEXT', 0, None, 0),
 (15, 'X_COORDINATE', 'REAL', 0, None, 0),
 (16, 'Y_COORDINATE', 'REAL', 0, None, 0),
 (17, 'YEAR', 'INTEGER', 0, None, 0),
 (18, 'LATITUDE', 'REAL', 0, None, 0),
 (19, 'LONGITUDE', 'REAL', 0, None, 0),
 (20, 'LOCATION', 'TEXT', 0, None, 0)]

In [40]:
%sql select distinct description from ChiCrime where location_description like '%SCHOOL%';

 * sqlite:///Final.db
Done.

[('SIMPLE',),
 ('PRO EMP HANDS NO/MIN INJURY',),
 ('TO VEHICLE',),
 ('POSS: HEROIN(WHITE)',),
 ('MANU/DEL:CANNABIS 10GM OR LESS',),
 ('TO LAND',),
 ('BOMB THREAT',)]

In [42]:
%sql select description, count(*) from ChiCrime group by description where location_description like '%SCHOOL%';

 * sqlite:///Final.db
(sqlite3.OperationalError) near "where": syntax error
[SQL: select description, count(*) from ChiCrime group by description where location_description like '%SCHOOL%' ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [43]:
%sql select description, count (*) from ChiCrime where location_description like '%SCHOOL%' group by description order by count (*) desc;

 * sqlite:///Final.db
Done.

[('SIMPLE', 4),
 ('PRO EMP HANDS NO/MIN INJURY', 2),
 ('BOMB THREAT', 2),
 ('TO VEHICLE', 1),
 ('TO LAND', 1),
 ('POSS: HEROIN(WHITE)', 1),
 ('MANU/DEL:CANNABIS 10GM OR LESS', 1)]

### Types of schools with safety score by type

In [44]:
%sql pragma table_info(ChiPS);

 * sqlite:///Final.db
Done.

[(0, 'School_ID', 'INTEGER', 0, None, 0),
 (1, 'NAME_OF_SCHOOL', 'TEXT', 0, None, 0),
 (2, 'Elementary, Middle, or High School', 'TEXT', 0, None, 0),
 (3, 'Street_Address', 'TEXT', 0, None, 0),
 (4, 'City', 'TEXT', 0, None, 0),
 (5, 'State', 'TEXT', 0, None, 0),
 (6, 'ZIP_Code', 'INTEGER', 0, None, 0),
 (7, 'Phone_Number', 'TEXT', 0, None, 0),
 (8, 'Link', 'TEXT', 0, None, 0),
 (9, 'Network_Manager', 'TEXT', 0, None, 0),
 (10, 'Collaborative_Name', 'TEXT', 0, None, 0),
 (11, 'Adequate_Yearly_Progress_Made_', 'TEXT', 0, None, 0),
 (12, 'Track_Schedule', 'TEXT', 0, None, 0),
 (13, 'CPS_Performance_Policy_Status', 'TEXT', 0, None, 0),
 (14, 'CPS_Performance_Policy_Level', 'TEXT', 0, None, 0),
 (15, 'HEALTHY_SCHOOL_CERTIFIED', 'TEXT', 0, None, 0),
 (16, 'Safety_Icon', 'TEXT', 0, None, 0),
 (17, 'SAFETY_SCORE', 'REAL', 0, None, 0),
 (18, 'Family_Involvement_Icon', 'TEXT', 0, None, 0),
 (19, 'Family_Involvement_Score', 'TEXT', 0, None, 0),
 (20, 'Environment_Icon', 'TEXT', 0, None, 0),
 (21, 'Environment_Score', 'REAL', 0, None, 0),
 (22, 'Instruction_Icon', 'TEXT', 0, None, 0),
 (23, 'Instruction_Score', 'REAL', 0, None, 0),
 (24, 'Leaders_Icon', 'TEXT', 0, None, 0),
 (25, 'Leaders_Score', 'TEXT', 0, None, 0),
 (26, 'Teachers_Icon', 'TEXT', 0, None, 0),
 (27, 'Teachers_Score', 'TEXT', 0, None, 0),
 (28, 'Parent_Engagement_Icon', 'TEXT', 0, None, 0),
 (29, 'Parent_Engagement_Score', 'TEXT', 0, None, 0),
 (30, 'Parent_Environment_Icon', 'TEXT', 0, None, 0),
 (31, 'Parent_Environment_Score', 'TEXT', 0, None, 0),
 (32, 'AVERAGE_STUDENT_ATTENDANCE', 'TEXT', 0, None, 0),
 (33, 'Rate_of_Misconducts__per_100_students_', 'REAL', 0, None, 0),
 (34, 'Average_Teacher_Attendance', 'TEXT', 0, None, 0),
 (35, 'Individualized_Education_Program_Compliance_Rate', 'TEXT', 0, None, 0),
 (36, 'Pk_2_Literacy__', 'TEXT', 0, None, 0),
 (37, 'Pk_2_Math__', 'TEXT', 0, None, 0),
 (38, 'Gr3_5_Grade_Level_Math__', 'TEXT', 0, None, 0),
 (39, 'Gr3_5_Grade_Level_Read__', 'TEXT', 0, None, 0),
 (40, 'Gr3_5_Keep_Pace_Read__', 'TEXT', 0, None, 0),
 (41, 'Gr3_5_Keep_Pace_Math__', 'TEXT', 0, None, 0),
 (42, 'Gr6_8_Grade_Level_Math__', 'TEXT', 0, None, 0),
 (43, 'Gr6_8_Grade_Level_Read__', 'TEXT', 0, None, 0),
 (44, 'Gr6_8_Keep_Pace_Math_', 'TEXT', 0, None, 0),
 (45, 'Gr6_8_Keep_Pace_Read__', 'TEXT', 0, None, 0),
 (46, 'Gr_8_Explore_Math__', 'TEXT', 0, None, 0),
 (47, 'Gr_8_Explore_Read__', 'TEXT', 0, None, 0),
 (48, 'ISAT_Exceeding_Math__', 'REAL', 0, None, 0),
 (49, 'ISAT_Exceeding_Reading__', 'REAL', 0, None, 0),
 (50, 'ISAT_Value_Add_Math', 'REAL', 0, None, 0),
 (51, 'ISAT_Value_Add_Read', 'REAL', 0, None, 0),
 (52, 'ISAT_Value_Add_Color_Math', 'TEXT', 0, None, 0),
 (53, 'ISAT_Value_Add_Color_Read', 'TEXT', 0, None, 0),
 (54, 'Students_Taking__Algebra__', 'TEXT', 0, None, 0),
 (55, 'Students_Passing__Algebra__', 'TEXT', 0, None, 0),
 (56, '9th Grade EXPLORE (2009)', 'TEXT', 0, None, 0),
 (57, '9th Grade EXPLORE (2010)', 'TEXT', 0, None, 0),
 (58, '10th Grade PLAN (2009)', 'TEXT', 0, None, 0),
 (59, '10th Grade PLAN (2010)', 'TEXT', 0, None, 0),
 (60, 'Net_Change_EXPLORE_and_PLAN', 'TEXT', 0, None, 0),
 (61, '11th Grade Average ACT (2011)', 'TEXT', 0, None, 0),
 (62, 'Net_Change_PLAN_and_ACT', 'TEXT', 0, None, 0),
 (63, 'College_Eligibility__', 'TEXT', 0, None, 0),
 (64, 'Graduation_Rate__', 'TEXT', 0, None, 0),
 (65, 'College_Enrollment_Rate__', 'TEXT', 0, None, 0),
 (66, 'COLLEGE_ENROLLMENT', 'INTEGER', 0, None, 0),
 (67, 'General_Services_Route', 'INTEGER', 0, None, 0),
 (68, 'Freshman_on_Track_Rate__', 'TEXT', 0, None, 0),
 (69, 'X_COORDINATE', 'REAL', 0, None, 0),
 (70, 'Y_COORDINATE', 'REAL', 0, None, 0),
 (71, 'Latitude', 'REAL', 0, None, 0),
 (72, 'Longitude', 'REAL', 0, None, 0),
 (73, 'COMMUNITY_AREA_NUMBER', 'INTEGER', 0, None, 0),
 (74, 'COMMUNITY_AREA_NAME', 'TEXT', 0, None, 0),
 (75, 'Ward', 'INTEGER', 0, None, 0),
 (76, 'Police_District', 'INTEGER', 0, None, 0),
 (77, 'Location', 'TEXT', 0, None, 0)]

In [51]:
%sql select `Elementary, Middle, or High School`, count(*), avg(Safety_Score) from ChiPS group by `Elementary, Middle, or High School`;

 * sqlite:///Final.db
Done.

[('ES', 462, 49.52038369304557),
 ('HS', 93, 49.62352941176471),
 ('MS', 11, 48.0)]

### Community areas with highest household percent below poverty line

In [52]:
%sql pragma table_info(ChiCensus);

 * sqlite:///Final.db
Done.

[(0, 'COMMUNITY_AREA_NUMBER', 'REAL', 0, None, 0),
 (1, 'COMMUNITY_AREA_NAME', 'TEXT', 0, None, 0),
 (2, 'PERCENT_OF_HOUSING_CROWDED', 'REAL', 0, None, 0),
 (3, 'PERCENT_HOUSEHOLDS_BELOW_POVERTY', 'REAL', 0, None, 0),
 (4, 'PERCENT_AGED_16__UNEMPLOYED', 'REAL', 0, None, 0),
 (5, 'PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA', 'REAL', 0, None, 0),
 (6, 'PERCENT_AGED_UNDER_18_OR_OVER_64', 'REAL', 0, None, 0),
 (7, 'PER_CAPITA_INCOME', 'INTEGER', 0, None, 0),
 (8, 'HARDSHIP_INDEX', 'REAL', 0, None, 0)]

In [54]:
%sql select community_area_name, percent_households_below_poverty from ChiCensus order by percent_households_below_poverty desc limit 10;

 * sqlite:///Final.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4),
 ('Washington Park', 42.1),
 ('West Garfield Park', 41.7),
 ('Armour Square', 40.1),
 ('Oakland', 39.7),
 ('West Englewood', 34.4)]

### Community area number only of areas most prone to crime

In [77]:
%sql select community_area_number, count (*) from ChiCrime group by community_area_number order by count(*) desc;

 * sqlite:///Final.db
Done.

[(25.0, 43),
 (None, 43),
 (23.0, 22),
 (68.0, 21),
 (29.0, 16),
 (28.0, 16),
 (8.0, 15),
 (71.0, 14),
 (24.0, 13),
 (67.0, 12),
 (66.0, 12),
 (69.0, 11),
 (49.0, 11),
 (6.0, 11),
 (61.0, 10),
 (58.0, 10),
 (26.0, 10),
 (46.0, 9),
 (43.0, 9),
 (31.0, 9),
 (22.0, 9),
 (70.0, 8),
 (44.0, 8),
 (42.0, 8),
 (38.0, 8),
 (30.0, 8),
 (27.0, 8),
 (19.0, 8),
 (16.0, 8),
 (63.0, 7),
 (32.0, 7),
 (2.0, 7),
 (53.0, 6),
 (21.0, 6),
 (1.0, 6),
 (48.0, 5),
 (35.0, 5),
 (15.0, 5),
 (14.0, 5),
 (7.0, 5),
 (76.0, 4),
 (72.0, 4),
 (62.0, 4),
 (51.0, 4),
 (45.0, 4),
 (39.0, 4),
 (5.0, 4),
 (3.0, 4),
 (73.0, 3),
 (65.0, 3),
 (50.0, 3),
 (20.0, 3),
 (17.0, 3),
 (10.0, 3),
 (4.0, 3),
 (77.0, 2),
 (64.0, 2),
 (59.0, 2),
 (56.0, 2),
 (54.0, 2),
 (52.0, 2),
 (41.0, 2),
 (37.0, 2),
 (18.0, 2),
 (11.0, 2),
 (75.0, 1),
 (60.0, 1),
 (55.0, 1),
 (47.0, 1),
 (33.0, 1),
 (12.0, 1)]

### Sub query to find name of community with highest hardship index

In [78]:
%sql select community_area_name from ChiCensus where hardship_index = max(hardship_index);

 * sqlite:///Final.db
(sqlite3.OperationalError) misuse of aggregate function max()
[SQL: select community_area_name from ChiCensus where hardship_index = max(hardship_index);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [84]:
%sql select community_area_name, max(hardship_index) from ChiCensus;

 * sqlite:///Final.db
Done.

[('Riverdale', 98.0)]

### Sub query to find name of community with most crimes

In [87]:
%sql select community_area_name, count(*) from ChiCensus, ChiCrime order by count(*) desc limit 1;

 * sqlite:///Final.db
Done.

[('Rogers Park', 41574)]

In [93]:
%%sql

SELECT
    CC.community_area_number,
    COUNT(CR.ID) AS CrimeCount
FROM
    ChiCensus AS CC
JOIN
    ChiCrime AS CR ON CC.community_area_number = CR.community_area_number
GROUP BY
    CC.community_area_number
ORDER BY
    CrimeCount DESC LIMIT 1;

 * sqlite:///Final.db
Done.

[(25.0, 43)]